html {
  font-size: 1rem;
}

body{background-color: white;}

header {background-color: black;
  font-size:medium;
  position:unset;
  top: 0%;
  }

.encabezado {
  text-align: center;
  padding: 0%;
  margin: 0%;
}

.logo {  
  max-width: 150px;
  height: auto;
} 

.titulo {
  color: white;
  font-family: "Bebas Neue", sans-serif;
  font-size: 2rem;
  margin: 0%;
  padding: 0%;
}

.nav-lista{
  list-style:none;
  display: flex;
  gap: 50px;
  padding: 0;
  margin: 0;
  justify-content: center;
}

.nav-lista li a {
  text-decoration: none;
  color: #fff;
  font-family: "Bebas Neue", sans-serif;
  font-size: 1.5rem;
}


.logo-marca {
  display: flex;
  justify-content:space-around;
  align-items: center;
  gap: 30px;
  margin: 0%;
  padding: 0%;
  }


.logo-marca a img {
    width: 100px;
    height: 150px;
    object-fit: contain;
}

.img-inicio {
    display: flex;
    flex-wrap: wrap;            /* Para que bajen si no entran */
    gap: 80px;
    justify-content: center;    /* Centra el contenido */
    padding: 20px;
  }

.img-inicio img {
    width: 200px;               /* Tamaño fijo o usá % para responsive */
    height: 200px;
    object-fit:fill;    /* Recorta para que se vean todas parejas */
    border-radius: 50px;         /* Estética opcional */
  }

.pcolor {
  color: blue;}

footer{
  
  text-align: center;
  width: 100%;;
  height: 100%;
  font-size: medium; color: #fbfafa;
  background-color: black;
}

/* ----------------------*/
/*        ADIDAS         */
/* ----------------------*/

#adidas {
  margin : 100px;
  padding: 50px;}

.encabezado-adidas {
  text-align: center;
  padding: 0%;
  margin: 0%;  
}

.logo-adidas{
  max-width: 150px;
  height: auto;
}

.titulo-adidas {
  color: black;
  font-family: "Bebas Neue", sans-serif;
  font-size: 2rem;
  margin: 0%;
  padding: 0%;
}

.img-adidas {
  display: flex;
  flex-wrap: wrap;            
  gap: 80px;
  justify-content: center;    
  padding: 20px;
  }

.img-adidas img {
  width: 100%;             
  max-width: 200px;
  height: auto;
  object-fit:cover;    
  border-radius: 50px;
}


/* ----------------------*/
/*        NIKE           */
/* ----------------------*/

#nike {
  margin : 100px;
  padding: 50px;}


.encabezado-nike {
  text-align: center;
  padding: 0%;
  margin: 0%;  
}

.logo-nike {
  max-width: 150px;
  height: auto;   
}

.titulo-nike {
  color: black;
  font-family: "Bebas Neue", sans-serif;
  font-size: 2rem;
  margin: 0%;
  padding: 0%;
}

.img-nike {
  display: flex;
  flex-wrap: wrap;            
  gap: 80px;
  justify-content: center;    
  padding: 20px;
}

.img-nike img {
  width: 100%;             
  max-width: 200px;
  height: auto;
  object-fit:cover;    
  border-radius: 50px;
}


/* ----------------------*/
/*        PUMA           */
/* ----------------------*/

#puma {
  margin : 100px;
  padding: 50px;}

.encabezado-puma {
  text-align: center;
  padding: 0%;
  margin: 0%;  
}

.logo-puma {
  max-width: 150px;
  height: auto;   
}

.titulo-puma {
  color: black;
  font-family: "Bebas Neue", sans-serif;
  font-size: 2rem;
  margin: 0%;
  padding: 0%;
}

.img-puma {
  display: flex;
  flex-wrap: wrap;            
  gap: 80px;
  justify-content: center;    
  padding: 20px;
}

.img-puma img {
  width: 100%;             
  max-width: 200px;
  height: auto;
  object-fit:cover;    
  border-radius: 50px;
}


/* ----------------------*/
/*        REEBOK         */
/* ----------------------*/

#reebok {
  margin : 100px;
  padding: 50px;}



.encabezado-reebok {
  text-align: center;
  padding: 0%;
  margin: 0%;  
}

.logo-reebok {
  max-width: 150px;
  height: auto;   
}

.titulo-reebok {
  color: black;
  font-family: "Bebas Neue", sans-serif;
  font-size: 2rem;
  margin: 0%;
  padding: 0%;
}

.img-reebok {
  display: flex;
  flex-wrap: wrap;            
  gap: 80px;
  justify-content: center;    
  padding: 20px;
}

.img-reebok img {
  width: 100%;             
  max-width: 200px;
  height: auto;
  object-fit:cover;    
  border-radius: 50px;
}
