html {
  font-size: 1rem;
}
/* --------------------------------------------------------------------- */
                            /* HTML INDEX  */
/* --------------------------------------------------------------------- */

body{background-color: white;}

/* ----------------------*/
/*        HEADER         */
/* ----------------------*/
header {
  background-color: black;
  position:sticky;
  top: 0%;
  z-index: 9999;
  border-radius: 5px;
  box-shadow: 0px 0px 10px black;
  }

.encabezado {
  text-align: center;
  padding: 0%;
  margin: 0%;
}

.logo {  
  max-width: 150px;
  height: auto;
} 

.titulo {
  color: white;
  font-family: "Bebas Neue", sans-serif;
  font-size: 2rem;
  margin: 0%;
  padding: 0%;
}

.nav-lista{
  height: 2rem;
  flex-wrap: wrap;
  list-style:none;
  display: flex;
  gap: 50px;
  padding: 0;
  margin: 0;
  justify-content: center;
}

.nav-lista a {
  text-decoration: none;
  color: #fff;
  font-family: "Bebas Neue", sans-serif;
  font-size: 1.5rem;
  transition: all 0.5s ease;
}
.nav-lista a:hover {
  font-size: 1.8rem;
  transform: scale(1.2);
}



/* ----------------------*/
/*        MAIN         */
/* ----------------------*/

.logo-marca {
  height: 10rem;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
  align-items: center;
  gap: 30px;
  margin: 1.5rem;
  padding: 0%;
  box-shadow: 0px 0px 10px black;
  border-radius: 50px;
}


.logo-marca a img {
    width: 100px;
    height: 150px;
    object-fit: contain;
    transition: transform 0.5s ease;
}

.logo-marca img:hover {
  transform: scale(1.5);
}

.img-inicio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap:50px;
  padding: 20px;
  margin: 50px;
}
.campera-inicio {
  border-radius: 50px;
  position: relative;
  width: 300px;
  height: 250px;
  box-shadow: 0px 0px 10px black;
}
.campera-inicio img {
  padding: 0%;
  margin: 0%;
  width: 200px;   
  max-width: 200px;
  height: 200px;
  border-top: 5px;
  border-top: 5px;
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  /* top y left ajustan el alto y la izquierda de la imagen, y translate lo empujamos hacia el centro*/
  transition: opacity 0.5s ease, transform 1.0s ease;
}
.campera-inicio:hover {
  transform: translateY(-10px);
}

.campera-inicio .dorso {
  opacity: 0;
}
.campera-inicio:hover .dorso {
  opacity: 1;
}
.campera-inicio:hover .frente {
  opacity: 0;
}


/* ----------------------*/
/*        FOOTER         */
/* ----------------------*/
footer{
  
  background-color: black;
  text-align: center;
  position: static;
  top: 0%;
  box-shadow: 0px 0px 10px black;
  border-radius: 5px;
}
.encabezado-footer {
  text-align:center;
  padding: 0%;
  margin: 0%;
}
.titulo-derechos {
  color: #fbfafa;
  font-family:"Bebas Neue", sans-serif;
}

.redes {
  padding: 20px;

}
.titulo-redes {
  color: #fbfafa;
  font-family:"Bebas Neue", sans-serif;
  font-size: 1.5rem;
  margin: 0%;
  padding: 0%;
}

.nav-redes {
  color: #EAC46Fff;
  list-style: none;
  display: flex;
  gap: 20px;
  justify-content: center;
  padding: 0%;
  margin: 0%;
 

}
.nav-redes li i {
  gap: 20px;
  height: 30px;
  width: 30px;
  margin: 10%;
  padding: 10%;
}


/* ----------------------*/
/*        GRIDD         */
/* ----------------------*/
 

.grilla {
  display: grid;
  border: 1px solid black;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  padding: 30px;
  margin: 30px;
  justify-content: space-around;
}


.item {
  display: flex;
  border: 1px solid black;
  flex-wrap: wrap;
  background-color: aqua;
  justify-content: center;
  padding: 20px;

}

/* ----------------------*/
/*        RESEÑAS         */
/* ----------------------*/

.reseñas {
  padding: 40px 20px;
  background-color: black;
  text-align: center;
  border-radius: 50px;
  margin: 30px;
  box-shadow:  0px 0px 10px black;
}

.reseñas h3 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 2rem;
  margin-bottom: 30px;
  color: white;
}

.grid-reseñas {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  max-width: 1000px;
  margin: 0 auto;
}

.reseña {
  background: white;
  padding: 20px;
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.reseña:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
}

.comentario {
  font-family: "Courgette", cursive;
  font-style: italic;
  font-size: 1.1rem;
  color: #333;
}

.autor {
  margin-top: 10px;
  font-weight: bold;
  color: #666;
}

/* --------------------------------------------------------------------- */
                            /* HTML PRODUCTOS  */
/* --------------------------------------------------------------------- */

.parrafo-producto {
  padding: 20px;
  font-size: 2rem;
  text-align: center;
  height: 20px;
}

.campera{
 
  border-radius: 50px;
  position: relative;
  width: 300px;
  height: 250px;
  box-shadow: 0px 0px 10px black;
}
.campera img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  transition: opacity 0.5s ease, transform 0.5s ease;
}
.campera:hover {
  transform: translateY(-10px);
}
.campera .dorso {
  opacity: 0;
}
.campera:hover .dorso{
  opacity: 1;
}
.campera:hover .frente{
  opacity: 0;
}

/* ----------------------*/
/*        ADIDAS         */
/* ----------------------*/

#adidas {
  padding: 50px;
  margin: 50px;
  scroll-margin-top: 250px;
  /* Ajustá según el alto de tu header */
}

.encabezado-adidas {

  display: grid;
  justify-items: center;
  padding: 0%;
  margin: 0%;
}

.logo-adidas{

  max-width: 150px;
  height: auto;
}

.titulo-adidas {
  color: black;
  font-family: "Bebas Neue", sans-serif;
  font-size: 2rem;
  margin: 0%;
  padding: 0%;
}

.img-adidas {
 
  display: flex;
  flex-wrap: wrap;     
  justify-content:center;       
  gap: 50px;
  justify-items: center;    
  padding: 20px;
  margin: 50px;
  }

.img-adidas img {

  width: 200px;   
  max-width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50px;
}

/* ----------------------*/
/*        NIKE           */
/* ----------------------*/

#nike {
  padding: 50px;
  margin: 50px;
  scroll-margin-top: 250px;
}

.encabezado-nike {
  text-align: center;
  padding: 0%;
  margin: 0%;  
}

.logo-nike {
  max-width: 150px;
  height: auto;   
}

.titulo-nike {
  color: black;
  font-family: "Bebas Neue", sans-serif;
  font-size: 2rem;
  margin: 0%;
  padding: 0%;
}

.img-nike {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;            
  gap: 50px;
  justify-items: center;    
  padding: 20px;
  margin: 50px;
}

.img-nike img {
  width: 100%;             
  max-width: 200px;
  height: auto;
  object-fit:cover;    
  border-radius: 50px;
}


/* ----------------------*/
/*        PUMA           */
/* ----------------------*/

#puma {
  padding: 50px;  
  margin: 50px; 
  scroll-margin-top: 250px;
}

.encabezado-puma {
  text-align: center;
  padding: 0%;
  margin: 0%;  
}

.logo-puma {
  max-width: 150px;
  height: auto;   
}

.titulo-puma {
  color: black;
  font-family: "Bebas Neue", sans-serif;
  font-size: 2rem;
  margin: 0%;
  padding: 0%;
}

.img-puma {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;            
  gap: 50px;
  justify-items: center;    
  padding: 20px;
  margin: 50px;
}

.img-puma img {
  width: 100%;             
  max-width: 200px;
  height: auto;
  object-fit:cover;    
  border-radius: 50px;
}


/* ----------------------*/
/*        REEBOK         */
/* ----------------------*/

#reebok {
  padding: 50px;
  margin: 50px;
  scroll-margin-top: 250px;
  /* Ajustá según el alto de tu header */
}

.encabezado-reebok {
  text-align: center;
  padding: 0%;
  margin: 0%;  
}

.logo-reebok {
  max-width: 150px;
  height: auto;   
}

.titulo-reebok {
  color: black;
  font-family: "Bebas Neue", sans-serif;
  font-size: 2rem;
  margin: 0%;
  padding: 0%;
}

.img-reebok {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;            
  gap: 50px;
  justify-items: center;    
  padding: 20px;
  margin: 50px;
}

.img-reebok img {
  width: 100%;             
  max-width: 200px;
  height: auto;
  object-fit:cover;    
  border-radius: 50px;
}

/* --------------------------------------------------------------------- */
                            /* MEDIA QUERIES  */
/* --------------------------------------------------------------------- */
  

@media (max-width: 768px) {
  .logo {
    max-width: 5rem;
  }
  .titulo {
    font-size: 1rem;
  }
  .nav-lista a {
    font-size: 1rem;
  }
  .logo-marca {
    height: 4.5rem;
    width: 90%;
    margin: 1.5rem;
  }
  .logo-marca a img {
    width: 2.5rem;
    height: 2.5rem;
  }

  .formulario-contacto h2 {
  margin-bottom: 0.7rem;
  }
  .formulario-contacto form {
  
  padding: 1rem;
  border-radius: 0.5rem;
  max-width: 250px;
  width: 45%;
  }

  .formulario-contacto input,
  .formulario-contacto textarea {
    width: 90%;
    padding: 0.2rem;
    margin: 0.2rem;
    font-size: 0.5rem;
    }

  .parrafo-producto {
    padding: 1rem;
    font-size: 1rem;
  }
}

/* --------------------------------------------------------------------- */
                            /* UBICACION  */
/* --------------------------------------------------------------------- */

.titulo-ubicacion { 
  text-align: center;
  margin-top: 40px;
  color: #333;
  font-family: ARIAL, sans-serif;

}
.map-container{
  display: flex;
  justify-content: center;
  max-width: 1000px;
  overflow: hidden;
}
.iframe-ubi {
  
  width: 100%;
  height: 500px;
  border: none;
  box-shadow: 0px 0px 10px black;
  border-radius: 5px;
  padding: 0%;
  margin: 0%;
}

/* --------------------------------------------------------------------- */
                            /* CONTACTO  */
/* --------------------------------------------------------------------- */

.formulario-contacto {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.formulario-contacto h2 {
  margin-bottom: 20px;
  color: #333;
}

.formulario-contacto form {
  background-color: #fff;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  max-width: 500px;
  width: 90%;
}

.formulario-contacto input,
.formulario-contacto textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}

.formulario-contacto input[type="submit"],
.formulario-contacto input[type="reset"] {
  width: 48%;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.formulario-contacto input[type="reset"] {
  background-color: #f44336;
}

.formulario-contacto input[type="submit"]:hover {
  background-color: #45a049;
}

.formulario-contacto input[type="reset"]:hover {
  background-color: #d32f2f;
}

.formulario-contacto .btn-group {
  display: flex;
  justify-content: space-between;
  gap: 4%;
}